/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  margin: 0;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

/* ----Header ** Basic Style layout ** */

.item-height {
  height: 50px;
}

.bg-orange {
  background-color: #f72210;
}

.link-list-footer a {
  font-size: 14px;
  line-height: 15px;
}

.btn-sub {
  background-color: #ffe400;
  border-radius: 25px;
  padding: 5px 15px;
  border: 0;
  font-size: 18px;
  font-weight: 700;
}

.logo {
  height: 20px;
}

.main-nav a {
  color: #000;
  font-weight: bold;
  font-size: 19px;
  font-family: "Roboto Condensed", sans-serif;
}

.sub-nav a {
  color: #807f86;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

.header-title {
  color: #03030366;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

.fs-10 {
  font-size: 10px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-15 {
  font-size: 15px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.font-roboto {
  font-family: "Roboto Condensed", sans-serif;
}

.right-nav a {
  padding: 0 15px;
}

.text-dark {
  font-weight: bold;
  font-size: 20px;
}

#search {
  border: none;
  width: 65px;
}

.sub-nav a:hover, .main-nav a:hover {
  color: #f72210;
}

.shape-container {
  position: absolute;
  top: 0;
  right: 0;
}

.inline {
  display: flex;
  justify-content: flex-end;
}

.triangle {
  border-top: 13px solid #f72210;
  border-left: 13px solid transparent;
}

.rectangle {
  width: 65px;
  height: 13px;
  background: #f72210;
}

.footer-logo {
  width: 250px;
  height: 40px;
}

.vs-separator {
  height: 30px;
}

.horizontal-rule {
  line-height: 0;
  top: 50%;
}

.vs-circle {
  padding: 2px 4px;
  color: #fff;
  border: 1px solid black;
  background-color: #000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
}

.email input {
  text-align: center;
  width: 100%;
  padding: 5px 5px;
  border: 1px solid #555;
}

.submit-btn button {
  color: #fff;
  height: 30px;
  width: 100%;
  background-color: var(--bg-color-red);
}

.top-img-div {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.caption {
  padding: 8px 15px 9px;
  bottom: 0;
  left: 0;
  background-color: #ffffffe6;
}

.caption2 {
  padding: 5px 10px 5px;
  bottom: 0;
  left: 0;
  background-color: #c2d4d7;
}

.caption span {
  font-weight: bold;
}

.text-orange {
  color: #f72210;
}

.hover-o:hover {
  text-decoration: underline #f72210;
}

.heavy {
  font-weight: 700;
}

.more-img {
  padding: 0 10px;
}

.icon {
  padding: 10px 10px;
}

img {
  width: 100%;
}

.p-30 {
  padding: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.subscribe {
  padding-top: 16px;
}

.sub-img {
  width: 170px;
  height: 227px;
}

.sub-img-cover {
  position: absolute;
  left: 20px;
  top: 20px;
}

.sub-btn {
  border-radius: 3px;
  padding: 10px 10px 10px 12px;
  font: bold 18px/18px "Roboto Condensed", sans-serif;
}

.bg-grey {
  background-color: #f4f5f5;
}

.bg-img {
  height: 170px;
  background: url("https://cutt.ly/0cInNc1");
}

.item-m-2 img {
  height: 110px;
  width: 110px;
  margin-right: 16px;
}

@media screen and (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }

  .mb-md-40 {
    margin-bottom: 0;
  }

  .flogo-container {
    display: flex;
    flex-direction: column;
  }

  .btn-sub {
    background-color: #ffe400;
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 13px;
    font-weight: 700;
  }

  .subscribe {
    padding: 40px 30px;
  }

  .bg-img {
    height: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .item-height {
    height: 95px;
  }

  .logo {
    height: 60px;
  }
  
  .subscribe {
    padding: 40px 30px;
  }
}