/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

body {
    margin: 0;
}

:root {
    --color-red: #f42;
    --bg-color-red: #f42;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: white; */
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

/* ----Header ** Basic Style layout ** */

header {
    margin: 0;
}

header nav {
    margin: 0;
}

.item-height {
    height: 50px;
}

.bg-orange {
    background-color: #f72210;
}

.link-list a {
    display: block;
}

.link-list-footer a {
    font-size: 14px;
    line-height: 15px;
}

.btn-sub {
    background-color: #ffe400;
    border-radius: 25px;
    padding: 5px 15px;
    border: 0;
    font-size: 18px;
    font-weight: 700;
}

header nav {
    margin: 0;
}

.logo {
    height: 20px;
}

.nav-links {
    position: relative;
}

.link-list {
    height: 30px;
    padding: 24px 0;
    margin: 0;
}

.link-list a {
    display: block;
}

.link-list-footer li, .social li {
    padding: 0 10px;
    line-height: 15px;
}

.link-list-footer li:first-of-type, .social li:first-of-type {
    padding-left: 0;
}

.link-list-footer li:last-of-type, .social li:first-of-type {
    padding-right: 0;
}

.main-nav li a {
    color: #000;
    font-weight: bold;
    font-size: 19px;
    font-family:'Roboto Condensed';
}

.sub-nav {
    padding: 18px 0;
}

.sub-nav li a {
    color: #807f86;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 11px;
}

.black-header-title {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 11px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-15 {
    font-size: 15px;
}

.fs-18 {
    font-size: 18px;
}

.fs-19 {
    font-size: 19px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.font-roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

.right-nav a {
    padding: 0 15px;
}

.text-dark {
    font-weight: bold;
    font-size: 20px;
}

#search {
    border: none;
    width: 65px;
}

.sub-nav {
    padding-left: 20px;
}

.sub-nav a:hover, .main-nav a:hover {
    color: #f72210;
}

img {
    width: 100%;
}

.y {
    position: absolute;
    top: 0;
    right: 0;
}

.inline {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 13px solid #f72210;
    border-left: 13px solid transparent;
}

.rectangle {
    width: 65px;
    height: 13px;
    background: #f72210;
}

.footer-logo {
    width: 250px;
    height: 40px;
}

.flogo-container {
    padding: 10px 0;
}

footer {
    padding: 10px 20px;
}

.main-footer {
    padding: 5px 0;
}

.sub-footer {
    padding: 5px 0;
}

@media screen and (max-width: 768px) {
    .flogo-container {
        display: flex;
        flex-direction: column;
    }
    .btn-sub {
        background-color: #ffe400;
        border-radius: 25px;
        padding: 5px 15px;
        border: 0;
        font-size: 18px;
        font-weight: 700;
    }
}

@media only screen and (min-width: 992px) {
    .item-height {
        height: 95px;
    }
    .logo {
        height: 60px;
    }
}